<header class="masthead">
   <h3 class="masthead-title">
	   <a alt="Coletivo Encripta" href="{{ site.path }}/"><img src="{{ site.path }}/images/logo.png"></a>
     <span class = "masthead-items">
       <span>
          &nbsp;&nbsp;&nbsp;<a href="{{ site.path }}/blog/">Blog</a>
       </span>
       <span>
          &nbsp;&nbsp;&nbsp;<a href="{{ site.path }}/arquivos/">Arquivos</a>
       </span>
     </span>
   </h3>
</header>
