<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ site.title }}</title>
   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
   <link rel="alternate" type="application/atom+xml" href="{{ site.path }}/feed.xml" title="News Feed">
   <link rel="shortcut icon" href="{{ site.path }}/images/icon.png">
   <script>
   var host = "encripta.org";
   if ((host == window.location.host) && (window.location.protocol != 'https:')) {
     window.location = window.location.toString().replace(/^http:/, "https:");
     }
   var host = "www.encripta.org";
   if ((host == window.location.host) && (window.location.protocol != 'https:')) {
     window.location = window.location.toString().replace(/^http:/, "https:");
     }
   </script>
</head>
<body>

    {% include header.html %}

    <div class="container">

    <div id="content">
      {{ content }}
    </div>
    
    {% include footer.html %}

    </div><!-- .container -->
    
</body>
</html>
